<% party = f.object %>
<% contact = party.contact %>
<% contact.data = "" if contact.dummy_contact_data? # hack to get placeholder text to display %>

<fieldset>
	<h3>Identify <%= model_descriptor(party)::PARTY_DESCRIPTIONS[\
		party.class.const_to_symbol(party.class)] %>
	</h3>

	<% # Find and Invite %>
	<fieldset>
		<p>
			<%= f.radio_button :contact_strategy, Contact::CONTACT_METHODS[0] %>
			<%= f.label :contact_strategy, "Identify as: " %>
			<%= fields_for(:contact) do |c_form| %>
				<%= c_form.text_field(
						:data,
						value: contact.data,
						placeholder: contact.class.placeholder_text(),
						autofocus: party.contact_strategy == \
							Contact::CONTACT_METHODS[0] ? true : false
					)
				%> 
			<% end %>
			<%= f.select(:find_type_index, find_list) %>
		</p>
		<%= f.radio_button :contact_strategy, Contact::CONTACT_METHODS[1] %>
		<%= f.label :contact_strategy, "Invite to #{SITE_NAME}" %>

	</fieldset>

	<% # Past Associate %>
	<p>
		<% if contact.user.nil? then %>
			<% associates = associates_list() %>
			<% unless associates.empty? then %>
				<%= f.radio_button :contact_strategy, Contact::CONTACT_METHODS[2] %>
				<%= f.label :contact_strategy, "Use a past associate: " %>
				<%= f.select(
						:associate_id,
						associates, \
						autofocus: party.contact_strategy == \
							Contact::CONTACT_METHODS[2] ? true : false
					)
				%>
			<% end %>
		<% end %>
	</p>

	<% # Publish %>
	<p>
		<%= f.radio_button :contact_strategy, Contact::CONTACT_METHODS[3] %>
		<%= f.label :contact_strategy, "Publish (to accept any user)" %>
	</p>

</fieldset>

<div class="actions">
	<p>
	<fieldset>
		<%= f.submit "Continue" %>
		<%= f.submit "Back", :name => "previous_button" %>
		<%= f.submit "Cancel", :name => "cancel_button" %>
	</fieldset>
	</p>
</div>
