<h1>Your Transactions</h1>

<% unless @tranzactions.nil? or @tranzactions.empty? then %>
	<table>
		<tr>
			<th>Status</th>
			<th>Contract</th>
			<% @party_classes.each do |party_class| %>
				<% unless party_class == AdminParty then %>
					<th><%= model_descriptor(party_class)\
							.party_class_description(party_class) %>
					</th>
				<% end %>
			<% end %>
		</tr>

		<% @tranzactions.each_pair do |trans, parties| %>
			<tr>
				<td>
					<%= link_to "#{model_descriptor(trans).status_for(trans)}", 
						tranzactions_path(trans)
					%>
				</td>
				<td><%= model_descriptor(trans).contract_name %></td>
				<% @party_classes.each do |klass| %>
					<% if parties[klass].nil? then %>
						<td>-</td>
					<% elsif klass != AdminParty %>
						<% if !parties[klass].contact.nil?\
								and !parties[klass].contact.user.nil? then %>
							<td>
								<% if current_user?(parties[klass].contact.user) then %>
									<%= "You" %>
								<% else %>
									<%= link_to "#{parties[klass].dba(true)}",
										parties[klass].contact.user %>
								<% end %>
							</td>
						<% else %>
							<td>
								<%= "#{parties[klass].dba(true)} " %>
							</td>
						<% end %>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table>
<% else %>
	<h4>It doesn't look like you have any transactions.  Would you like to make someone an offer?</h4>
<% end %>
<br />

<%= link_to 'New Offer',
	ContractManager.contracts.count > 1 ? contracts_path : new_contract_tranzactions_path(0) 
%>
