<%= form_for(@trans) do |f| %>
	<% if @trans.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@trans.errors.count, "error") %> prevented \
				this transaction from being saved:</h2>

			<ul>
				<% @trans.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>


  <div class="field">
    <%= f.label :bet %><br />
    <%= f.text_field :bet %>
  </div>
  <div class="field">
    <%= f.label :more_description %><br />
    <%= f.text_field :more_description %>
  </div>
  <div class="field">
    <%= f.label :expires_at %><br />
    <%= f.datetime_select :expires_at %>
  </div>
  <div class="field">
    <%= f.label :state_params %><br />
    <%= f.text_field :state_params %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
