<%= render 'shared/error_messages', :object => f.object %>

<fieldset>
	<div class="field">
		<%= f.label :first_name %>
		<%= f.text_field :first_name, :placeholder => "Your Firstname" %> <br />
		<%= f.label :last_name %>
		<%= f.text_field :last_name, :placeholder => "Your Lastname" %><br />
	</div>
	<div class="field">
		<% default_email = "your_email@example.com" %>
		<% default_phone = "408-555-0100" %>
		<%= f.label :email %>
		<%= f.text_field :email, :placeholder => default_email %>
		<%= f.label :phone %>
		<%= f.text_field :phone, :placeholder => default_phone %><br />

		<% unless f.object.contact_list.empty? then %>
			<br />
			<%= f.label(:active_contact, "Contact me:") %>
			<%= f.select(:active_contact, f.object.contact_list) \
					unless f.object.active_contact.nil? %>
			<br />
		<% end %>

		<% if false then %>
			<a href="http://gravatar.com/emails" target=_blank>Image</a>
			<%= gravatar_for @user %><br />
		<% end %>
	</div>
	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %> <br />
		<%= f.label :password_confirmation, "Confirmation" %>
		<%= f.password_field :password_confirmation %>
	</div>
</fieldset>
