<p>
<fieldset>
	<%= t.label :party1_bet, "Amount (#{t.object.party1_bet.currency})" %>
	<%= fields_for(t.object.party1_bet) do |p1_bet_fields| %>
		<%= p1_bet_fields.text_field :value %>
	<% end %>
</p>
<p>
	<%= t.label :terms_artifact, "Enter the terms of your bet here:" %><br/>
	<%= fields_for(t.object.terms_artifact) do |terms_fields| %>
		<%= terms_fields.text_area :text, :size => "80x6" %>
	<% end %>
</p>
<p>
	<%= fields_for(t.object.offer_expiration) do |expiration_fields| %>
		<%= render :partial => 'shared/expiration', :locals => {:f => expiration_fields} %>
	<% end %>
</p>
<p>
	<%= fields_for(t.object.bet_expiration) do |expiration_fields| %>
		<%= render :partial => 'shared/expiration', :locals => {:f => expiration_fields} %>
	<% end %>
</fieldset>
</p>
<fieldset>
	<%= t.submit "Continue" %>
	<%= t.submit "Cancel",	:name => "cancel_button" %>
</fieldset>
